In [15]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [16]:
df = pd.read_csv('../data/processed/data.csv')

In [17]:
df.isna().mean()

Date               0.0
Location           0.0
MinTemp            0.0
Rainfall           0.0
Evaporation        0.0
Sunshine           0.0
WindGustDir        0.0
WindGustSpeed      0.0
WindDir9am         0.0
WindDir3pm         0.0
WindSpeed9am       0.0
WindSpeed3pm       0.0
Humidity9am        0.0
Humidity3pm        0.0
Pressure9am        0.0
Cloud9am           0.0
Cloud3pm           0.0
Temp3pm            0.0
RainToday          0.0
RainTomorrow       0.0
Month              0.0
WindGustDir_deg    0.0
WindDir9am_deg     0.0
WindDir3pm_deg     0.0
Season             0.0
dtype: float64

In [14]:
columns = ['WindGustDir', 'WindDir9am', 'WindDir3pm', 'WindGustDir_deg', 'WindDir9am_deg', 'WindDir3pm_deg']
df[df['WindDir9am_deg'].isna()][columns]

,WindGustDir,WindDir9am,WindDir3pm,WindGustDir_deg,WindDir9am_deg,WindDir3pm_deg
14,WNW,Missing,WNW,292.5,NaN,292.5
25,WSW,Missing,W,247.5,NaN,270.0
62,Missing,Missing,Missing,NaN,NaN,NaN
83,WNW,Missing,WSW,292.5,NaN,247.5
85,W,Missing,S,270.0,NaN,180.0
...,...,...,...,...,...,...
136924,WNW,Missing,WNW,292.5,NaN,292.5
136963,WSW,Missing,W,247.5,NaN,270.0
137114,ENE,Missing,N,67.5,NaN,0.0
137212,ENE,Missing,N,67.5,NaN,0.0
137219,WNW,Missing,NW,292.5,NaN,315.0

In [8]:
df['WindDir9am'].value_counts()

WindDir9am
4     10594
3      9898
10     8886
0      8805
11     8671
8      8181
9      8144
13     7953
14     7895
6      7676
7      7587
1      7584
2      7401
5      7362
12     7162
15     6853
16     6597
Name: count, dtype: int64